@color-fg : #000;
@color-fg-inv : #fff;
@color-bg : #f5f5f5;
@color-primary : #da2a1d;

html {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 62.5%;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	color: fade(@color-fg, 87%);
	background-color: @color-bg;
}
body {
	margin: 0;
	font-size: 1.6em;
	line-height: 1.4;
}
*, *:before, *:after {
	box-sizing: inherit;
}


footer, header, nav, section, main { display: block; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
template { display: none; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
hr {
	margin: 0;
	height: 0;
	overflow: visible;
	border: none;
	border-top: dotted fade(#000, 20%) 1px;
}


a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
}
a:active, a:hover {
	outline-width: 0;
}


// -----
h1, h3, p, nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

// -----

.container {
	max-width: 64rem;
	margin: 0 auto;
}

header, main, footer {
	font-size: 1.4rem;
}

header[role="banner"] {

	background: @color-primary;
	color: @color-fg-inv;
	box-shadow: 0 3px 2px fade(#000, 15%);

	h1 {
		.container();
		font-size: 2rem;
		font-weight: normal;
		padding: 2rem 2rem 0;
	}
	p {
		.container();
		padding: 0 2rem;
		margin: 0 auto .5rem;
		line-height: 2rem;
		color: fade(@color-fg-inv, 70%);
	}

	nav {
		.container();
		padding: 0 2rem;

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				flex: 1 1 auto;

				a {
					display: block;
					padding: 1.5rem 0 1rem;
					text-align: center;
					text-transform: uppercase;
					font-size: 1.2rem;
					color: fade(@color-fg-inv, 50%);

					&:hover {
						color: fade(@color-fg-inv, 70%);
					}
					&.active {
						color: @color-fg-inv;
						box-shadow: inset 0 -2px 0 #fff;
					}
				}
			}
		}
	}

	hr { display: none; }
}


main {
	.container();
	margin: 2rem auto;
	padding: 0 2rem;

	section {
		background: #fff;
		padding: 2rem;
		box-shadow:
			0 1px 2px fade(#000, 25%),
			0 1px 10px fade(#000, 5%)
		;

		h3 {
			font-size: 1.6rem;
			font-weight: bold;
		}
	}

	section#cierzo-ahora {
		padding: 0;

		header {
			padding: 2rem;
			min-height: 24rem;
			background-color: lighten(@color-primary, 40%);
			background-image: url(../img/elpilar-zaragoza.jpg);
			background-size: cover;
			background-position: top center;

			h3 {
				color: #fff;
			}
			p {
				color: fade(#fff, 70%);
				margin: 0 0 2rem 0;
			}
			ul {

				position: relative;
				list-style: none;
				margin: 0 auto 1rem auto;
				padding: 0;
				padding: 2rem;
				height: 14rem;
				width: 14rem;

				text-align: center;
				z-index: 1;

				&:before {
					content: '';
					z-index: -1;
					position: absolute;
					display: block;
					top: -3rem;
					left: 50%;
					margin-left: -1.5rem;
					width: 3rem;
					height: 20rem;
					// transform: rotate(0deg);
					background-image: url(../img/arrow.svg);
					background-repeat: no-repeat;
					background-position: bottom center;

				}
				&:after {
					content: '';
					z-index: -1;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					background: #fff;
					height: 14rem;
					width: 14rem;
					border-radius: 14rem;
					box-shadow:
					inset 0 0 0 3px #fff,
					inset 0 0 0 5px fade(@color-primary, 50%),
						0 0 0 4px rgba(0, 0, 0, .25),
						0 2px 3px rgba(0, 0, 0, .50),
						0 1px 25px rgba(0, 0, 0, .25)
					;

				}


				li:first-child {
					height: 7rem;
					padding: .5rem 0 0 0;
					strong {
						font-size: 4.5rem;
						font-weight: normal;
						line-height: 4.5rem;
						display: block;
					}
					small {
						display: block;
						font-size: 1.2rem;
						color: fade(@color-fg, 54%);
					}
				}
				li:last-child {
					font-size: 1.2rem;
					background: fade(@color-primary, 100%);
					color: fade(@color-fg-inv, 100%);
					height: 2.5rem;
					line-height: 2.5rem;
					margin: .25rem 0;
					display: inline-block;
					width: auto;
					padding: 0 1rem;
					border-radius: 3px;
				}
			}
		}

		div#condiciones-actuales {
			padding: 2rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			p, figure {
				flex: 1 1 50%;
				margin: 0;
				padding: 0;
				text-align: center;

				small {
					font-size: 1.2rem;
					color: fade(@color-fg, 54%);
				}
			}
			p {
				strong {
					font-weight: normal;
					font-size: 2.4rem;
					display: block;
					height: 3.2rem;
					line-height: 3.2rem;
					margin: 0 auto .5rem;
				}
			}
			figure {
				img {
					display: block;
					margin: 0 auto .5rem;
				}
			}
		}
	}

	section#proximas-horas,
	section#proximos-dias {
		h3 {
			margin: 0 0 2rem;
		}
		ul:first-of-type {
			border-top: solid @color-bg 1px;
		}
	}

	section#proximas-horas {
		ul.hourly {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				flex: 1 1 25%;
				margin: 0;
				padding: 1.2rem 0;
				height: 4.8rem;
				line-height: 24px;

				&.time {
					width: 9rem;
					flex-basis: auto;
					flex-grow: 0;
					color: fade(@color-fg, 54%);
					font-size: 1.2rem;
					text-transform: uppercase;
				}
				&.wind {
					overflow: hidden;
				}
				&.temp {
					width: 42px;
					font-size: 1.2rem;
					text-align: right;
					flex-basis: auto;
					flex-grow: 0;
					color: fade(@color-fg, 54%);
					font-weight: bold;
				}
				&.icon {
					width: 42px;
					flex-basis: auto;
					flex-grow: 0;
					text-align: center;
				}
				&.percent {
					width: 100%;
					flex: 0 0 100%;
					height: 3px;
					line-height: 0;
					margin: 0;
					padding: 0;
					background: @color-bg;
					overflow: hidden;

					span {
						display: block;
						background: @color-primary;
						height: 3px;
					}
				}
			}

		}


	}
}



ul.daily {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: solid @color-bg 1px;

	&.header {
		li {
			padding: 1rem 0;
			line-height: 2.4rem;
			text-transform: none !important;
			font-size: 1.2rem;
			font-weight: bold;
			color: fade(@color-fg, 54%);
		}
	}

	li {
		flex: 1 1 20%;
		margin: 0;
		padding: 1.5rem 0;

		&.time {
			width: 9rem;
			flex-basis: auto;
			flex-grow: 0;
			color: fade(@color-fg, 54%);
			font-size: 1.2rem;
			text-transform: uppercase;
			line-height: 2.4rem;

		}
		&.wind {
			// padding: 1rem 0 .5rem;

			div.percent {
				width: 100%;
				height: 3px;
				line-height: 0;
				background: @color-bg;
				overflow: hidden;
				margin: .5rem 0 0 0;
				span {
					display: block;
					background: @color-primary;
					height: 3px;
				}

			}
		}
		&.min, &.max {
			width: 42px;
			flex-basis: auto;
			flex-grow: 0;
			text-align: center;
			line-height: 2.4rem;
			font-size: 1.2rem;
			font-weight: bold;
			color: fade(@color-fg, 54%);
		}

		&.icon {
			width: 42px;
			flex-basis: auto;
			flex-grow: 0;
			text-align: center;
		}
	}
}



footer {
	.container();
	padding: 0 2rem;
	color: fade(@color-fg, 54%);
	font-size: 1.2rem;

	p {
		padding: 1rem 0 2rem;
	}
	a {
		color: @color-primary;
		&:hover {
			color: @color-fg;
			text-decoration: underline;
		}
	}
}
