@color-fg : #000;
@color-fg-inv : #fff;
@color-bg : #f5f5f5;
@color-primary : #da2a1d;

@breakpoint-small : 400;
@breakpoint-medium : 480;

@small : ~"all and (max-width: @{breakpoint-small}px)";
@medium : ~"all and (min-width: @{breakpoint-small}px) and (max-width: @{breakpoint-medium}px)";
@big : ~"all and (min-width: @{breakpoint-medium}px)";


html {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 62.5%;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	color: fade(@color-fg, 87%);
	background-color: @color-bg;
}
body {
	margin: 0;
	font-size: 1.6em;
	line-height: 1.4;
}
*, *:before, *:after {
	box-sizing: inherit;
}


footer, header, nav, section, main { display: block; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
template { display: none; }
b, strong { font-weight: inherit; }
b, strong { font-weight: bolder; }
hr {
	margin: 0;
	height: 0;
	overflow: visible;
	border: none;
	border-top: dotted fade(#000, 20%) 1px;
}


a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
}
a:active, a:hover {
	outline-width: 0;
}


// -----
h1, h3, p, nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

// -----

.container {
	max-width: 64rem;
	margin: 0 auto;
}

header, main, footer {
	font-size: 1.4rem;
}

header[role="banner"] {

	background: @color-primary;
	color: @color-fg-inv;
	box-shadow: 0 3px 2px fade(#000, 15%);

	h1 {
		.container();
		font-size: 2rem;
		font-weight: normal;
		padding: 2rem 2rem 0;
	}
	p {
		.container();
		padding: 0 2rem;
		margin: 0 auto .5rem;
		line-height: 2rem;
		color: fade(@color-fg-inv, 70%);
	}

	nav {
		.container();
		padding: 0 2rem;

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				flex: 1 1 auto;

				a {
					display: block;
					padding: 1.5rem 0 1rem;
					text-align: center;
					text-transform: uppercase;
					font-size: 1.2rem;
					color: fade(@color-fg-inv, 50%);

					&:hover {
						color: fade(@color-fg-inv, 70%);
					}
					&.active {
						color: @color-fg-inv;
						box-shadow: inset 0 -2px 0 #fff;
					}
				}
			}
		}
	}

	hr { display: none; }
}


main {
	.container();
	margin: 2rem auto;
	padding: 0 2rem;

	section {
		background: #fff;
		padding: 2rem;
		box-shadow:
			0 1px 2px fade(#000, 25%),
			0 1px 10px fade(#000, 5%)
		;

		h3 {
			font-size: 1.6rem;
			font-weight: bold;
		}
	}

	section#cierzo-ahora {
		padding: 0;

		header {
			padding: 2rem 2rem 3rem;
			min-height: 24rem;
			background-color: lighten(@color-fg, 20%);
			background-image: url(../img/elpilar-zaragoza.jpg);
			background-size: cover;
			background-position: top center;

			h3 { color: #fff; }
			p {
				color: fade(#fff, 70%);
				margin: 0 0 2rem 0;
			}
			ul {

				position: relative;
				list-style: none;
				margin: 0 auto 1rem auto;
				padding: 0;
				padding: 2rem;
				height: 14rem;
				width: 14rem;

				text-align: center;
				z-index: 1;

				&:before {
					content: '';
					z-index: -1;
					position: absolute;
					display: block;
					top: -3rem;
					left: 50%;
					margin-left: -1.5rem;
					width: 3rem;
					height: 20rem;
					// transform: rotate(0deg);
					background-image: url(../img/arrow.svg);
					background-repeat: no-repeat;
					background-position: bottom center;

				}
				&:after {
					content: '';
					z-index: -1;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					background: #fff;
					height: 14rem;
					width: 14rem;
					border-radius: 14rem;
					box-shadow:
					inset 0 0 0 3px #fff,
					inset 0 0 0 5px fade(@color-primary, 50%),
						0 0 0 4px rgba(0, 0, 0, .25),
						0 2px 3px rgba(0, 0, 0, .50),
						0 1px 25px rgba(0, 0, 0, .25)
					;

				}


				li:first-child {
					height: 7rem;
					padding: .5rem 0 0 0;
					strong {
						font-size: 4.5rem;
						font-weight: normal;
						line-height: 4.5rem;
						display: block;
					}
					small {
						display: block;
						font-size: 1.2rem;
						color: fade(@color-fg, 54%);
					}
				}
				li:last-child {
					font-size: 1.2rem;
					background: fade(@color-primary, 100%);
					color: fade(@color-fg-inv, 100%);
					height: 2.5rem;
					line-height: 2.5rem;
					margin: .25rem 0;
					display: inline-block;
					width: auto;
					padding: 0 1rem;
					border-radius: 3px;
				}
			}
		}

		div#condiciones-actuales {
			padding: 2rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			p, figure {
				flex: 1 1 50%;
				margin: 0;
				padding: 0;
				text-align: center;

				small {
					font-size: 1.2rem;
					color: fade(@color-fg, 54%);
				}
			}
			p {
				strong {
					font-weight: normal;
					font-size: 2.4rem;
					display: block;
					height: 3.2rem;
					line-height: 3.2rem;
					margin: 0 auto .5rem;
				}
			}
			figure {
				img {
					display: block;
					margin: 0 auto .5rem;
				}
			}
		}
	}


	section#proximas-horas,
	section#proximos-dias {
		h3 {
			margin: 0 0 1rem;
		}
		ul:first-of-type {
			border-top: solid @color-bg 1px;
		}
	}

	section#proximas-horas {}

	.data-block {
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

		li {
			display: block;
			margin: 0;
			padding: 1rem 0;
			flex: 0 1 auto;

			&.time, &.temp {
				color: fade(@color-fg, 54%);
				font-size: 1.2rem;
				font-weight: bold;
				height: 4.4rem;
				line-height: 2.4rem;
			}

			&.time {
				width: 8rem;
				// background: #eee;
			}
			&.bear {
				width: 3rem;
				span {
					display: block;
					height: 24px;
					width: 24px;
					// background-color: #f0f0f0;
					background-image: url(../img/compass.svg);
					background-size: 24px;
				}
			}
			&.wind {
				flex-grow: 1;
				flex-basis: 10%;
				overflow: hidden;
				line-height: 2rem;
				padding: 1.2rem 0;

				p em {
					font-style: normal;
					color: fade(@color-fg, 54%);
				}
				p.forecast-str {
					color: fade(@color-fg, 54%);
					display: none;
				}

				@media @small {
					p strong, p em { display: block; }
				}
				@media @big {
					p.forecast-str { display: block; }
				}
			}
			&.temp {
				width: 4rem;
				text-align: right;
				padding: 1rem 1rem 1rem 0;
			}
			&.icon {
				flex-basis: auto;
				flex-grow: 0;
				width: 2.4rem;
				padding: 1rem 0;

				&:before {
					content: '';
					display: block;
					width: 2.4rem;
					height: 2.4rem;
					background-image: url(../img/default.svg);
					background-size: 24px;
				}
				&.clear-day:before { background-image: url(../img/clear-day.svg); }
				&.clear-night:before { background-image: url(../img/clear-night.svg); }
				&.cloudy:before { background-image: url(../img/cloudy.svg); }
				&.fog:before { background-image: url(../img/fog.svg); }
				&.partly-cloudy-day:before { background-image: url(../img/partly-cloudy-day.svg); }
				&.partly-cloudy-night:before { background-image: url(../img/partly-cloudy-night.svg); }
				&.rain:before { background-image: url(../img/rain.svg); }
				&.sleet:before { background-image: url(../img/sleet.svg); }
				&.snow:before { background-image: url(../img/snow.svg); }
				&.wind:before { background-image: url(../img/wind.svg); }
			}

			&.percent {
				width: 100%;
				height: 2px;
				background: @color-bg;
				padding: 0;
				overflow: hidden;

				span {
					display: block;
					height: 2px;
					// width: 0%;
					background: @color-primary;
				}
			}

		}
	}

	#proximos-dias .data-block {
		li.time { width: 7rem; }
	}
}







footer {
	.container();
	padding: 0 2rem;
	color: fade(@color-fg, 54%);
	font-size: 1.2rem;

	p {
		padding: 1rem 0 2rem;
	}
	a {
		color: @color-primary;
		&:hover {
			color: @color-fg;
			text-decoration: underline;
		}
	}
}
