html {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}
body {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
footer,
header,
nav,
section,
main {
  display: block;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
template {
  display: none;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
hr {
  margin: 0;
  height: 0;
  overflow: visible;
  border: none;
  border-top: dotted rgba(0, 0, 0, 0.2) 1px;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
h1,
h2,
h3,
p,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 64rem;
  margin: 0 auto;
}
header,
main,
footer {
  font-size: 1.4rem;
}
header[role="banner"] {
  background: #da2a1d;
  color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
header[role="banner"] h1 {
  max-width: 64rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: normal;
  padding: 2rem 2rem 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
header[role="banner"] h2 {
  max-width: 64rem;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0 2rem;
  margin: 0 auto 1rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.7);
}
header[role="banner"] nav {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem;
}
header[role="banner"] nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
header[role="banner"] nav ul li {
  border-top: solid rgba(255, 255, 255, 0.25) 1px;
  flex: 1 1 auto;
}
header[role="banner"] nav ul li a {
  display: block;
  padding: 1.5rem 0 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header[role="banner"] nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header[role="banner"] nav ul li a.active {
  color: #ffffff;
  box-shadow: inset 0 -2px 0 #ffffff;
}
header[role="banner"] hr {
  display: none;
}
#app {
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease-in;
  transition: opacity 0.5s ease, transform 0.5s ease-in;
  opacity: 1;
  transform: none;
}
#app.hide {
  opacity: 0;
  transform: translateY(2rem);
}
main {
  max-width: 64rem;
  margin: 0 auto;
  margin: 2rem auto;
  padding: 0 2rem;
}
main section {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.05);
}
main section h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
main section#cierzo-ahora {
  padding: 0;
}
main section#cierzo-ahora header {
  padding: 2rem;
  min-height: 24rem;
  background-color: #333333;
  background-image: url(../img/elpilar-zaragoza.jpg);
  background-size: cover;
  background-position: top center;
}
main section#cierzo-ahora header h3 {
  color: #fff;
}
main section#cierzo-ahora header p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 2rem 0;
  background: rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: auto;
}
main section#cierzo-ahora header ul {
  position: relative;
  list-style: none;
  margin: 1rem auto 1rem auto;
  padding: 2rem;
  height: 14rem;
  width: 14rem;
  text-align: center;
  z-index: 1;
}
main section#cierzo-ahora header ul:before {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: -3.5rem;
  left: 50%;
  margin-left: -2rem;
  width: 4rem;
  height: 21rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
main section#cierzo-ahora header ul:after {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #fff;
  height: 14rem;
  width: 14rem;
  border-radius: 14rem;
  box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0 5px rgba(218, 42, 29, 0.5), 0 0 0 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.5), 0 1px 25px rgba(0, 0, 0, 0.25);
}
main section#cierzo-ahora header ul li:first-child {
  height: 7rem;
  padding: .5rem 0 0 0;
}
main section#cierzo-ahora header ul li:first-child strong {
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 4.5rem;
  display: block;
  letter-spacing: -0.25rem;
}
main section#cierzo-ahora header ul li:first-child small {
  display: block;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}
main section#cierzo-ahora header ul li:last-child {
  font-size: 1.2rem;
  background: #da2a1d;
  color: #ffffff;
  height: 2.2rem;
  line-height: 2.2rem;
  margin: .25rem 0;
  display: inline-block;
  width: auto;
  padding: 0 .75rem;
  border-radius: 4px;
}
main section#cierzo-ahora div#condiciones-actuales {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main section#cierzo-ahora div#condiciones-actuales p,
main section#cierzo-ahora div#condiciones-actuales figure {
  flex: 1 1 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}
main section#cierzo-ahora div#condiciones-actuales p small,
main section#cierzo-ahora div#condiciones-actuales figure small {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}
main section#cierzo-ahora div#condiciones-actuales p strong {
  font-weight: normal;
  font-size: 2.4rem;
  display: block;
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0 auto .5rem;
}
main section#cierzo-ahora div#condiciones-actuales figure img {
  display: block;
  margin: 0 auto .5rem;
}
main section#proximas-horas h3,
main section#proximos-dias h3 {
  margin: 0 0 1rem;
}
main section#proximas-horas ul:first-of-type,
main section#proximos-dias ul:first-of-type {
  border-top: solid #f5f5f5 1px;
}
main .data-block {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
main .data-block li {
  display: block;
  margin: 0;
  padding: 1rem 0;
  flex: 0 1 auto;
}
main .data-block li.time,
main .data-block li.temp {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
  font-weight: bold;
  height: 4.4rem;
  line-height: 2.4rem;
}
main .data-block li.time {
  width: 8rem;
}
main .data-block li.bear {
  width: 3rem;
}
main .data-block li.bear span {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(../img/compass.svg);
  background-size: 24px;
}
main .data-block li.wind {
  flex-grow: 1;
  flex-basis: 10%;
  overflow: hidden;
  line-height: 2rem;
  padding: 1.2rem 0;
}
main .data-block li.wind p em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.54);
}
main .data-block li.wind p.forecast-str {
  color: rgba(0, 0, 0, 0.54);
  display: none;
}
@media all and (max-width: 400px) {
  main .data-block li.wind p strong,
  main .data-block li.wind p em {
    display: block;
  }
}
@media all and (min-width: 480px) {
  main .data-block li.wind p.forecast-str {
    display: block;
  }
}
main .data-block li.temp {
  width: 4rem;
  text-align: right;
  padding: 1rem 1rem 1rem 0;
}
main .data-block li.icon {
  flex-basis: auto;
  flex-grow: 0;
  width: 2.4rem;
  padding: 1rem 0;
}
main .data-block li.icon:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/default.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
main .data-block li.icon.clear-day:before {
  background-image: url(../img/clear-day.svg);
}
main .data-block li.icon.clear-night:before {
  background-image: url(../img/clear-night.svg);
}
main .data-block li.icon.cloudy:before {
  background-image: url(../img/cloudy.svg);
}
main .data-block li.icon.fog:before {
  background-image: url(../img/fog.svg);
}
main .data-block li.icon.partly-cloudy-day:before {
  background-image: url(../img/partly-cloudy-day.svg);
}
main .data-block li.icon.partly-cloudy-night:before {
  background-image: url(../img/partly-cloudy-night.svg);
}
main .data-block li.icon.rain:before {
  background-image: url(../img/rain.svg);
}
main .data-block li.icon.sleet:before {
  background-image: url(../img/sleet.svg);
}
main .data-block li.icon.snow:before {
  background-image: url(../img/snow.svg);
}
main .data-block li.icon.wind:before {
  background-image: url(../img/wind.svg);
}
main .data-block li.percent {
  width: 100%;
  height: 2px;
  background: #f5f5f5;
  padding: 0;
  overflow: hidden;
}
main .data-block li.percent span {
  display: block;
  height: 2px;
  background: #da2a1d;
}
main #proximos-dias .data-block li.time {
  width: 7rem;
}
footer {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
}
footer p {
  padding: 1rem 0 0;
}
footer p#timer-output {
  padding: .25rem 0 0;
  margin: 0;
}
footer a {
  color: #da2a1d;
}
footer a:hover {
  color: #000000;
  text-decoration: underline;
}
footer #google-play {
  display: none;
}
footer #google-play.visible {
  display: block;
}
footer #google-play a {
  display: inline-block;
  color: #f5f5f5;
  background-color: #000;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20120.9%20129.2%22%3E%0A%09%3Cpath%20d%3D%22M89.2%2084.5l28-15.3c3.2-1.8%206.5-6.2%200-9.7l-28-15.3-20%2020.2%2020%2020z%22%20fill%3D%22%23ffe300%22/%3E%0A%09%3Cpath%20d%3D%22M69%2064.4L5%20129c1.3.3%203%200%205-1.2l79.2-43.3-20-20z%22%20fill%3D%22%23ff4e54%22/%3E%0A%09%3Cpath%20d%3D%22M69%2064.4l20.2-20.2S14.5%203.5%2010.2%201c-2-1-3.8-1.2-5.5-1L69%2064.5z%22%20fill%3D%22%2300f085%22/%3E%0A%09%3Cpath%20d%3D%22M69%2064.4L5%200C2.2.8%200%203%200%207.8v113.7c0%204.4%201.7%207.4%205%207.7l64-64.6z%22%20fill%3D%22%2300e0ff%22/%3E%0A%3C/svg%3E%0A);
  background-repeat: no-repeat;
  background-size: auto 20px;
  background-position: 10px 5px;
  height: 3rem;
  line-height: 3rem;
  border-radius: .5rem;
  padding: 0 1rem 0 3.5rem;
}
footer #google-play a:hover,
footer #google-play a:focus {
  color: #fff;
}
#loader {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 16rem;
  margin: 2rem;
  padding: 2rem 0;
  overflow: hidden;
  opacity: 1;
}
#loader.hide {
  margin: 0;
  opacity: 0;
  padding: 0;
  height: 0;
}
#loader:before {
  content: '';
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-image: url('../img/lion-zgz.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  filter: invert(60%);
}
#loader:after {
  content: 'Cargando Datos';
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  margin: 0 auto;
  height: 2rem;
  line-height: 2rem;
}
