html {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}
body {
  margin: 0;
  font-size: 1.6em;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
footer,
header,
nav,
section,
main {
  display: block;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
template {
  display: none;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
hr {
  margin: 0;
  height: 0;
  overflow: visible;
  border: none;
  border-top: dotted rgba(0, 0, 0, 0.2) 1px;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
h1,
h3,
p,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 64rem;
  margin: 0 auto;
}
header,
main,
footer {
  font-size: 1.4rem;
}
header[role="banner"] {
  background: #da2a1d;
  color: #ffffff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
}
header[role="banner"] h1 {
  max-width: 64rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: normal;
  padding: 2rem 2rem 0;
}
header[role="banner"] p {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin: 0 auto .5rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.7);
}
header[role="banner"] nav {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem;
}
header[role="banner"] nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
header[role="banner"] nav ul li {
  flex: 1 1 auto;
}
header[role="banner"] nav ul li a {
  display: block;
  padding: 1.5rem 0 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}
header[role="banner"] nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header[role="banner"] nav ul li a.active {
  color: #ffffff;
  box-shadow: inset 0 -2px 0 #ffffff;
}
header[role="banner"] hr {
  display: none;
}
main {
  max-width: 64rem;
  margin: 0 auto;
  margin: 2rem auto;
  padding: 0 2rem;
}
main section {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.05);
}
main section h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
main section#cierzo-ahora {
  padding: 0;
}
main section#cierzo-ahora header {
  padding: 2rem;
  min-height: 24rem;
  background-color: #f8cecb;
  background-image: url(../img/elpilar-zaragoza.jpg);
  background-size: cover;
  background-position: top center;
}
main section#cierzo-ahora header h3 {
  color: #fff;
}
main section#cierzo-ahora header p {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 2rem 0;
}
main section#cierzo-ahora header ul {
  position: relative;
  list-style: none;
  margin: 0 auto 1rem auto;
  padding: 0;
  padding: 2rem;
  height: 14rem;
  width: 14rem;
  text-align: center;
  z-index: 1;
}
main section#cierzo-ahora header ul:before {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: -3rem;
  left: 50%;
  margin-left: -1.5rem;
  width: 3rem;
  height: 20rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
main section#cierzo-ahora header ul:after {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #fff;
  height: 14rem;
  width: 14rem;
  border-radius: 14rem;
  box-shadow: inset 0 0 0 3px #ffffff, inset 0 0 0 5px rgba(218, 42, 29, 0.5), 0 0 0 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.5), 0 1px 25px rgba(0, 0, 0, 0.25);
}
main section#cierzo-ahora header ul li:first-child {
  height: 7rem;
  padding: .5rem 0 0 0;
}
main section#cierzo-ahora header ul li:first-child strong {
  font-size: 4.5rem;
  font-weight: normal;
  line-height: 4.5rem;
  display: block;
}
main section#cierzo-ahora header ul li:first-child small {
  display: block;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}
main section#cierzo-ahora header ul li:last-child {
  font-size: 1.2rem;
  background: #da2a1d;
  color: #ffffff;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: .25rem 0;
  display: inline-block;
  width: auto;
  padding: 0 1rem;
  border-radius: 3px;
}
main section#cierzo-ahora div#condiciones-actuales {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main section#cierzo-ahora div#condiciones-actuales p,
main section#cierzo-ahora div#condiciones-actuales figure {
  flex: 1 1 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}
main section#cierzo-ahora div#condiciones-actuales p small,
main section#cierzo-ahora div#condiciones-actuales figure small {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}
main section#cierzo-ahora div#condiciones-actuales p strong {
  font-weight: normal;
  font-size: 2.4rem;
  display: block;
  height: 3.2rem;
  line-height: 3.2rem;
  margin: 0 auto .5rem;
}
main section#cierzo-ahora div#condiciones-actuales figure img {
  display: block;
  margin: 0 auto .5rem;
}
main section#proximas-horas h3,
main section#proximos-dias h3 {
  margin: 0 0 2rem;
}
main section#proximas-horas ul:first-of-type,
main section#proximos-dias ul:first-of-type {
  border-top: solid #f5f5f5 1px;
}
main section#proximas-horas ul.hourly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main section#proximas-horas ul.hourly li {
  flex: 1 1 25%;
  margin: 0;
  padding: 1.2rem 0;
  height: 4.8rem;
  line-height: 24px;
}
main section#proximas-horas ul.hourly li.time {
  width: 9rem;
  flex-basis: auto;
  flex-grow: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
  text-transform: uppercase;
}
main section#proximas-horas ul.hourly li.wind {
  overflow: hidden;
}
main section#proximas-horas ul.hourly li.temp {
  width: 42px;
  font-size: 1.2rem;
  text-align: right;
  flex-basis: auto;
  flex-grow: 0;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
}
main section#proximas-horas ul.hourly li.icon {
  width: 42px;
  flex-basis: auto;
  flex-grow: 0;
  text-align: center;
}
main section#proximas-horas ul.hourly li.percent {
  width: 100%;
  flex: 0 0 100%;
  height: 3px;
  line-height: 0;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  overflow: hidden;
}
main section#proximas-horas ul.hourly li.percent span {
  display: block;
  background: #da2a1d;
  height: 3px;
}
ul.daily {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: solid #f5f5f5 1px;
}
ul.daily.header li {
  padding: 1rem 0;
  line-height: 2.4rem;
  text-transform: none !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}
ul.daily li {
  flex: 1 1 20%;
  margin: 0;
  padding: 1.5rem 0;
}
ul.daily li.time {
  width: 9rem;
  flex-basis: auto;
  flex-grow: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 2.4rem;
}
ul.daily li.wind div.percent {
  width: 100%;
  height: 3px;
  line-height: 0;
  background: #f5f5f5;
  overflow: hidden;
  margin: .5rem 0 0 0;
}
ul.daily li.wind div.percent span {
  display: block;
  background: #da2a1d;
  height: 3px;
}
ul.daily li.min,
ul.daily li.max {
  width: 42px;
  flex-basis: auto;
  flex-grow: 0;
  text-align: center;
  line-height: 2.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}
ul.daily li.icon {
  width: 42px;
  flex-basis: auto;
  flex-grow: 0;
  text-align: center;
}
footer {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.2rem;
}
footer p {
  padding: 1rem 0 2rem;
}
footer a {
  color: #da2a1d;
}
footer a:hover {
  color: #000000;
  text-decoration: underline;
}
